---
import Link from "@components/commons/Link.astro";
import { Image } from "astro:assets";
import GitHubProfile from "@assets/githubProfile.png";
---

<nav class="w-full text-black bg-transparent z-50 sticky top-0">
    <div class="flex justify-between py-4 px-8 items-center">
        <div>
            <a href="https://github.com/ChanatpakornS">
                <Image
                    src={GitHubProfile}
                    alt="CSAP Logo"
                    width={40}
                    height={40}
                    class="rounded-full"
                />
            </a>
        </div>
        <div>
            <Link link="/" title="Home" />
            <Link link="/labs" title="Labs" />
        </div>
    </div>
</nav>
