---
import Link from '@components/commons/Link.astro';
---

<nav class="sticky w-full text-black">
    <div class="flex justify-between p-4 bg-background text-color-text">
        <div>
        </div>
        <div class="space-x-4">
            <Link link="/" title="Home" />
            <Link link="/about" title="About" />
            <Link link="/projects" title="Projects" />
            <Link link="/blog" title="Blog" />          
        </div>
    </div>
</nav>