---
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";

interface Props {
    title: string;
    description: string;
    images?: ImageMetadata[];
}

const {
    title = "Missing title",
    description = "Missing description",
    images,
} = Astro.props;
---

<div class="bg-black/5 p-4 rounded-2xl w-full">
    <div>
        <p>{title}</p>
        <p>{description}</p>
    </div>
    <div id="wrapper" class="">
        {
            images &&
                images.map((image) => <Image src={image.src} alt={image.alt} />)
        }
    </div>
</div>
