---
import ExperienceBlock from "./ExperienceBlock.astro";
import Space from "@components/commons/Space.astro";
---

<div class="size-full p-8 space-y-4">
    <ExperienceBlock year="2004" />
    <ExperienceBlock year="2005" />
    <ExperienceBlock year="2006" />
    <ExperienceBlock year="2007" />
    <ExperienceBlock year="2008" />
    <ExperienceBlock year="2009" />
    <ExperienceBlock year="2010" />
    <ExperienceBlock year="2011" />
    <ExperienceBlock year="2012" />
</div>
