@import "tailwindcss";

@theme {
    --color-background: #f5eadf;
    --color-spotlight: #ffc78f;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
}

h2 {
    font-size: 2rem;
    font-weight: 600;
}
