---
import ResumeLayout from "@layouts/ResumeLayout.astro";
import { resume } from '@components/contents/Resume/data/resume';
import { Intro } from '@components/contents/Resume/Intro';
import { Work } from '@components/contents/Resume/Work';
---
<ResumeLayout>
   <div class=" size-full">
      <Intro {...resume.intro} client:load/>
      {
         resume.works.map((work) => (
            <Work {...work} client:load/>
         ))
      }
   </div>
</ResumeLayout> 