.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mask-image: url(../../../assets/images/spotlight.svg);
  background: #ffc78f;
  mask-repeat: no-repeat;
  color: black;
  padding: 32px;
  opacity: 0;
  transition: opacity 0.3s;

  &:hover {
    opacity: 1;
  }
}
