---
import { Name } from "@components/contents/Name/Name.tsx";
import Contact from "@components/contents/Contact/Contact.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout>
    <div class="items-center w-full">
        <Name client:load />
        <Contact />
    </div>
</Layout>
