---
import Link from "@components/commons/Link.astro";
---

<div class="flex flex-row items-center gap-2 w-full justify-center">
    <Link link="https://github.com/ChanatpakornS" title="GitHub" />
    <Link
        link="https://th.linkedin.com/in/chanatpakorn-sirintronsopon-85156227a"
        title="LinkedIn"
    />
</div>
